version: '3'
services:
  opensearch-node1:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node1
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Anubhav@321
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data1:/usr/share/opensearch/data
    ports:
      - 9200:9200
      - 9600:9600
    networks:
      - opensearch-net

  opensearch-node2:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node2
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node2
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Anubhav@321
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data2:/usr/share/opensearch/data
    networks:
      - opensearch-net

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    ports:
      - 5601:5601
    expose:
      - "5601"
    environment:
      OPENSEARCH_HOSTS: '["https://opensearch-node1:9200","https://opensearch-node2:9200"]'
      OPENSEARCH_DASHBOARDS_BRANDING_LOGO_DEFAULT_URL: "https://raw.githubusercontent.com/openarmor/openarmor-branding/master/openarmor-logo_white.svg"
      OPENSEARCH_DASHBOARDS_BRANDING_LOGO_DARK_MODE_URL: "https://raw.githubusercontent.com/openarmor/openarmor-branding/master/openarmor-logo.svg"
      OPENSEARCH_DASHBOARDS_BRANDING_MARK_DEFAULT_URL: "https://raw.githubusercontent.com/openarmor/openarmor-branding/master/icon.svg"
      OPENSEARCH_DASHBOARDS_BRANDING_MARK_DARK_MODE_URL: "https://raw.githubusercontent.com/openarmor/openarmor-branding/master/icon.svg"
      OPENSEARCH_DASHBOARDS_BRANDING_LOADING_LOGO_DEFAULT_URL: "https://raw.githubusercontent.com/openarmor/openarmor-branding/master/icon.svg"
      OPENSEARCH_DASHBOARDS_BRANDING_LOADING_LOGO_DARK_MODE_URL: "https://raw.githubusercontent.com/openarmor/openarmor-branding/master/icon.svg"
      OPENSEARCH_DASHBOARDS_BRANDING_FAVICON_URL: "https://raw.githubusercontent.com/openarmor/openarmor-brandings/main/favicon.ico"
      OPENSEARCH_DASHBOARDS_BRANDING_APPLICATION_TITLE: "OpenArmor"
      OPENSEARCH_DASHBOARDS_BRANDING_USE_EXPANDED_HEADER: "true"
    networks:
      - opensearch-net
    command: >
      /bin/sh -c "
        ./bin/opensearch-dashboards-plugin install https://github.com/openarmor/osd-plugins/releases/download/v1.0.0/openarmor.zip &&
        ./bin/opensearch-dashboards-plugin install https://github.com/openarmor/osd-plugins/releases/download/v1.0.0/openarmorCheckUpdates-4.9.0.zip &&
        ./bin/opensearch-dashboards-plugin install https://github.com/openarmor/osd-plugins/releases/download/v1.0.0/openarmorCore-4.9.0.zip &&
        ./bin/opensearch-dashboards-plugin remove securityDashboards &&
        ./bin/opensearch-dashboards-plugin install https://github.com/openarmor/osd-security-plugin/releases/download/v1.0.0/security-dashboards-2.16.0.0.zip &&
        /usr/share/opensearch-dashboards/opensearch-dashboards-docker-entrypoint.sh
      "

volumes:
  opensearch-data1:
  opensearch-data2:

networks:
  opensearch-net:
